     @font-face {
            font-family: 'Cera Pro';
            src: url('font/CeraPro-Regular.woff2') format('woff2');
            font-weight: 400;
            font-style: normal;
            font-display: swap;
        }
        .form-container {
            font-family: 'Cera Pro', sans-serif !important;
        }
        .form-container {
            max-width: 500px;
            height: 670px;
            margin: 0 auto;
            background: #fff;
            padding: 0;
            border-radius: 5px;
            box-shadow: 0 0 10px #000000a1;
            text-align: center;
            position: relative;
            color: #727272;
            display: flex        ;
            justify-content: space-between;
            flex-direction: column;
            align-items: center;
            margin-top: 33px;
        }
        .form-title {
            color: #28a745;
            font-size: 20px;
            padding-bottom: 40px;
            padding-top: 52px;
            font-weight: 600;
        }
        .slesh {
            padding-left: 11px;
            padding-right: 11px;
            font-weight: 100;
            color: #6c757d;
            font-size: 17px;
        }
        .login {
            color:#000000FF ;
        }
        .form-description {
            color: #6c757d;
            margin-bottom: 14px;
            font-size: 13px;
            font-weight: 400;
            text-align: left;
        }
        .form-group {
            margin-bottom: 16px;
            text-align: left;
            margin-top: 16px;
        }
        .form-group input {
            width: 100%;
            padding: 12px;
            border: 1px solid #ced4da;
            border-radius: 4px;
            box-sizing: border-box;
            font-size: 14px;
            font-weight: 400;
        }
        .form-group input[type="password"] {
            padding-right: 30px;
            position: relative;
        }
        .register-btn {
            width: 100%;
            padding: 14px;
            background-color: #28a745;
            color: #fff;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            margin-top: 20px;
            font-weight: 700;
        }
        .register-btn:hover {
            background-color: #218838;
            transition: 0.4s;
            box-shadow: 0px 0px 14px 3px #16a937;
        }
        .social-login {
            padding-top: 36px;
            display: flex;
            align-items: center;
            color: #727272;
            font-weight: 400;
            font-size: 13px;
            padding-bottom: 27px;
        }
        .social-btn {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ced4da;
            border-radius: 4px;
            background-color: #fff;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #727272;
            font-weight: 500;
        }
        .social-btn img {
            margin-right: 10px;
        }
        .close-btn {
            position: absolute;
            top: 5px;
            right: 15px;
            cursor: pointer;
            font-size: 31px;
            font-weight: 100;
            color: #218838;
            text-decoration: none;
        }
        .close-btn:hover {
            scale: 1.3;
            transition: 0.4s;
        }
        .password-wrapper {
            border: 1px solid #ced4da;
            display: flex        ;
            justify-content: space-between;
            align-items: center;
        }
        input#password {
            border: none;
        }
        .social-login::before,
        .social-login::after {
            content: '';
            flex: 1;
            height: 1px;
            background: #ced4da;
            margin: 0;
        }
        .social-login::before {
            margin-right:7px ;
        }
        .social-login::after {
            margin-left:7px ;
        }
        .form-padding {
            width: 300px;
            text-align: center;
        }
        form {
            width: 100%;
        }
        .greenbg {
            background:#46A358 ;
            height: 10px;
            width: 100%;
        }
        img#toggle-password {
            padding-right: 10px;
        }
        .register-btn a {
            text-decoration: none;
            color: white;
        }
        button.social-btn {
            font-family: 'Cera Pro', sans-serif !important;
        }
        button.register-btn {
            font-family: 'Cera Pro', sans-serif !important;
        }
        input,
        button,
        text,
        textarea,
        select {
            font-family: 'Cera Pro', sans-serif !important;
        }
        input::placeholder {
            font-family: 'Cera Pro', sans-serif !important;
            color: #727272;
            font-size: 14px;
        }
        .main_container {
            display: flex;
            justify-content: center;
            align-items: center;
            /* margin-left: 120px;
            margin-right: 120px;
            margin-bottom: 50px;
            margin-top: 30px; */
            max-width: 1200px;
            /* height: 450px; */
            flex-shrink: 0;
            padding-left: 40px;
            background: linear-gradient(98deg, #6c6c6c2e -23.46%, #6c6c6c2e 107.51%);
            padding-bottom: 85px;
            padding-top: 68px;
        }
        .first_image img{
            width: 507px;
            height: 450px;
        }
        .second_image img{
            width: 135px;
            height: 135px;
        }
        h2 {
            color: #3D3D3D;
            font-family: 'Cera Pro', sans-serif !important;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px; /* 114.286% */
            letter-spacing: 1.4px;
            text-transform: uppercase;
        }
        h1 {
            color: #3D3D3D;
            font-family: 'Cera Pro', sans-serif !important;
            font-size: 70px;
            font-style: normal;
            font-weight: 900;
            line-height: 70px; /* 100% */
            text-transform: uppercase;
            margin: 0;
        }
        h1 span {
            color: #46A358;
            font-family: 'Cera Pro', sans-serif !important;
            font-size: 70px;
            font-style: normal;
            font-weight: 900;
            line-height: 70px;
            text-transform: uppercase;
        }
        .index {
            display: flex;
            max-width: 1440px;
            padding: 2.5vw 10vw 4vw 10vw;
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
        }
        p {
            color: #727272;
            font-family: 'Cera Pro', sans-serif !important;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 171.429% */
            max-width: 557px;
            height: 45px;
            flex-shrink: 0;
        }
        .block_text .register-btn{
            max-width: 140px;
            margin-top: 44px;
            flex-shrink: 0;
        }
        .second_image  {
            position: relative;
        }
        .second_image  img {
             position: absolute;
            bottom: 1.2rem;
            right: 19.8rem;
        
        }
        header {
            width: 100%;
            
        }
        .header_container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            flex-direction: row;
            flex-wrap: nowrap;
            padding-bottom: 0rem;
            border-bottom: solid 2px #6c6c6c2e;
        }
        .nav_menu ul {
            display: flex;
            gap: 32px;
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .logo img {
            width: 150px;
            height: 34.3px;
            flex-shrink: 0;
        }
        li a {
            color: #3D3D3D;
            font-family: 'Cera Pro', sans-serif !important;
            font-size: 16px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            text-decoration: none;
        }
        .firtsmanu a{
            font-weight:700;
            border-bottom: 3px solid #46A358;
            padding-bottom: 11px;
        }
        .header_container .register-btn  {
            width: 76px;
            height: 12px;
            flex-shrink: 0;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            flex-direction: row-reverse;
            margin: 0;
        }
        .login-btn, .login {
            background-color: rgba(255, 0, 0, 0);
            border: none;
        }
        .login img {
            display: flex;
            width: 20px;
            height: 20px;
            padding: 2.292px 1.84px 2.292px 1.882px;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
        }
        .login-btn a {
            color: #FFF;
            font-family: 'Cera Pro', sans-serif !important;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        
        


        


        


        

       