@font-face {
        font-family: 'Cera Pro Regular';
         src: url('../font/CeraPro-Regular.woff') format('woff'),
             url('../font/CeraPro-Regular.woff2') format('woff2');
        
    }
@font-face {
    font-family: 'Cera Pro Bold';
         src: url('../font/CeraPro-Bold.woff') format('woff'),
             url('../font/CeraPro-Bold.woff2') format('woff2');
        
    }

@font-face {
    font-family: 'Cera Pro Light';
    src: url('../font/CeraPro-Light.woff') format('.woff'),
         url('../font/CeraPro-Light.woff2') format('.woff2');
    }

.container {
    padding: 170px 110px 80px 135px;
}

.main {
    display: flex;
    gap: 50px;
}
.aside {
    display: flex;
    flex-direction: column;
    
}

.asideListContainer{
    padding: 14px 18px;
    background-color: #FBFBFB;
}
.asideHeading {
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    font-style: normal;
    line-height: 16px;
    margin-bottom: 17px;
}
.listAside {
    display: flex;
    flex-direction: column;
    padding: 0 79px 0 12px;
    margin-bottom: 359px;
    gap: 20px;
    font-family: "Cera Pro Regular";
}

.listAsideAItemActive {
    color: #46A358;
    font-family: "Cera Pro Bold";
}

.rightSection {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 30px;
}

.rsHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerList{
    display: flex;
    gap: 40px;
}

.headerListItem {
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 15px;
    font-style: normal;
    line-height: 16px; /* 106.667% */
    padding-bottom: 7px;
    border-bottom: 2px solid transparent;
}

.active{
    color: #46A358;
    border-color: #46A358;
    font-family: "Cera Pro Bold";
}

.headerAside{
    display: flex;
    align-items: center;
    gap: 8px;
}

.rsList{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 76px 37px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 6px;
}

.imageContainer{
    padding: 30px 4px 20px;
    background-color: #FBFBFB;
}

.cardName{
    margin-top: 6px;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 16px;
    font-style: normal;
    line-height: 16px; /* 100% */
}

.cardPrice{
    color: #46A358;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    font-style: normal;
    line-height: 16px; /* 88.889% */
}

.rsPagination{
    margin-top: 60px;
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
}

.btnPadin{
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    background-color: transparent;
    font-family: "Cera Pro Regular";
    font-size: 18px;
    font-style: normal;
    line-height: 16px;
    color: #3D3D3D;
    padding: 10px 14px;
}

.btnPadinActive{
    color: #fff;
    font-family: 'Cera Pro Bold';
    background-color: #46A358;
    border-color: #46A358;
}
.headerAsideText {
    font-family: 'Cera Pro Regular';
}